<html>
    <head>
        <title>Contact Us - EvoVault</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Contact.css') }}" />
    </head>
    <body>

        <nav>
            <ul class="Navigation">

                <li><a href="{{ url_for('home') }}">Home</a></li>

                <li><a href="{{ url_for('mortgage') }}">Mortgage Calculator</a></li>

                <li><a href="{{ url_for('about') }}">About Us</a></li>

                <li><a href="{{ url_for('contact') }}">Contact Us</a></li>

                <li><a href="{{ url_for('services') }}">Services</a></li>

                <li><a href="{{ url_for('faq') }}">FAQ</a></li>

            </ul>
        </nav>

        <div class="Content">

            <h1 class="Heading">
                Contact Us 
            </h1>

            <form id="contactForm" action="{{ url_for('submit') }}" method="POST" onsubmit="return validateContact()">

                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Full Name">
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Email Address">
                
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" placeholder="Subject of Your Message">
                
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="8" placeholder="Your Message"></textarea>
                
                <button type="submit">Submit</button>
            </form>
            
        </div>
        <script src="{{ url_for('static', filename='Contact.js') }}"></script>
    </body>
</html>
